* {
  font-family: Kozuka Gothic Pr6N R;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1c1c1e;
  color: #ffe23f;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin: 0;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  /* height: 100vh; */
  margin: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffe23f !important;
}

@media (max-width: 375px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  background-color: #ffe23f !important;
  border-radius: 0% !important;
}

#navbar {
  display: none;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    background-color: #1c1c1e;
    margin-bottom: 30px;
    display: block;
  }
}

#navbar #hamburger {
  display: none;
}

@media (max-width: 768px) {
  #navbar #hamburger {
    background: none;
    border: none;
    display: inline-block;
    margin-top: 35px;
    margin-left: 20px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    position: relative;
    z-index: 99;
  }
  #navbar #hamburger .icon {
    background-color: #ffe23f;
    display: block;
    height: 3px;
    margin: 0 auto 8px;
    width: 30px;
  }
  #navbar #hamburger .icon::before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #ffe23f;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  #navbar #hamburger .icon::after {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #ffe23f;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  #navbar #hamburger .icon .icon.change::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #navbar #hamburger .icon .icon.change::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

#navbar .logo img {
  display: none;
  width: 222px;
  height: 74px;
}

@media (max-width: 768px) {
  #navbar .logo img {
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 375px) {
  #navbar .logo img {
    width: 45%;
    margin-top: 0%;
  }
}

#navbar .shopping,
#navbar .member,
#navbar .search {
  display: none;
}

@media (max-width: 768px) {
  #navbar .shopping,
  #navbar .member,
  #navbar .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    margin-top: 25px;
  }
  #navbar .shopping img,
  #navbar .member img,
  #navbar .search img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 375px) {
  #navbar .shopping,
  #navbar .member,
  #navbar .search {
    display: none;
  }
}

@media (max-width: 768px) {
  #navbar .search img {
    width: 20px;
    height: 20px;
    margin-top: 13px;
  }
}

.menu {
  -webkit-transition: width .2s;
  transition: width .2s;
  display: none;
}

@media (max-width: 768px) {
  .menu {
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    z-index: 9;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .menu {
    width: 100%;
  }
}

.menu ul {
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (max-width: 768px) {
  .menu ul {
    width: 100%;
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  .menu li {
    width: 100%;
    margin-left: 50%;
  }
  .menu li:nth-child(1) {
    margin-top: 100px;
  }
  .menu li:hover {
    background-color: transparent;
    opacity: 70%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .menu li {
    margin-left: -5%;
  }
}

@media (max-width: 768px) {
  .menu li a {
    color: #ffe23f;
    text-decoration: none;
    line-height: 100px;
  }
}

@media (max-width: 375px) {
  .menu li a {
    margin-left: 12%;
  }
}

.change {
  display: block;
}

@media (max-width: 768px) {
  .menu_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #1c1c1e;
  }
}

.change_bg {
  width: 50%;
  height: 100vh;
}

.home .bg a:hover {
  background-color: none;
  opacity: 70%;
}

.home .bg #row {
  /* height: 50px; */
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media (max-width: 768px) {
  .home .bg #row {
    display: none;
  }
}

@media (max-width: 375px) {
  .home .bg #row {
    width: 100%;
    height: 50px;
  }
}

.home .bg #row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
}

.home .bg #row a img {
  width: 200%;
}

@media (max-width: 375px) {
  .home .bg #row a {
    display: none;
  }
}

.home .bg .swiper-container {
  width: 100%;
  height: 50vh;
  position: relative;
}

@media (max-width: 768px) {
  .home .bg .swiper-container {
    height: 10%;
  }
}

@media (max-width: 375px) {
  .home .bg .swiper-container {
    display: none;
  }
}

@media (max-width: 375px) {
  .home .bg .swiper-container h1 {
    font-size: 30px;
  }
}

.home .bg .swiper-container .swiper-slide .bg_img {
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
}

.home .bg .swiper-container .swiper-slide .bg_img img {
  width: 100%;
}

.home .container {
  max-width: 1140px;
}

.cd,
.traffic_contact,
.shopping,
.member,
.search {
  color: #ffe23f;
}

@media (max-width: 768px) {
  .cd,
  .traffic_contact,
  .shopping,
  .member,
  .search {
    display: none;
  }
}

.sell {
  background-color: #ffe23f;
  color: #1c1c1e;
}

.sell:hover {
  background-color: #1c1c1e;
  color: #ffe23f;
}

@media (max-width: 768px) {
  .sell {
    display: none;
  }
}

.shopping,
.member {
  padding: 0 20px;
  width: 30px;
  height: 30px;
}

.search {
  padding: 0 20px;
  width: 20px;
  height: 20px;
}

#about .container {
  margin-top: 4%;
}

#about .about_content {
  position: relative;
}

#about .about_content h1 {
  margin-top: 0px;
}

@media (max-width: 768px) {
  #about .about_content h1 {
    padding-left: 5%;
  }
}

@media (max-width: 375px) {
  #about .about_content h1 {
    font-size: 30px;
    padding-left: 10%;
    margin-left: 0;
  }
}

#about .about_content p {
  line-height: 40px;
  margin: 0;
  font-size: 21px;
  letter-spacing: 0.1em;
  padding-left: 100px;
}

@media (max-width: 768px) {
  #about .about_content p {
    padding-left: 5%;
    padding-right: 30%;
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  #about .about_content p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
  }
}

#about .about_content h2 {
  font-weight: 400;
  margin-left: 13%;
  padding-left: 200px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  #about .about_content h2 {
    margin: 0;
    padding-left: 2%;
    padding-top: 20px;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  #about .about_content h2 {
    padding-top: 20px;
    padding-left: 10%;
    font-size: 20px;
  }
}

#about .about_content .about_intro {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 375px) {
  #about .about_content .about_intro {
    display: none;
  }
}

#about .about_content .about_intro img {
  width: 23%;
  float: right;
}

@media (max-width: 768px) {
  #about .about_content .about_intro img {
    width: 30%;
    margin-top: 20px;
  }
}

#cd {
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  #cd {
    position: relative;
    height: 50%;
    margin-top: 10vh;
  }
}

@media (max-width: 375px) {
  #cd {
    height: 70%;
  }
}

#cd .block {
  height: 80%;
  background-color: #333333;
  position: relative;
}

@media (max-width: 375px) {
  #cd .block {
    height: 50%;
  }
}

#cd .block .imgs {
  position: relative;
}

#cd .block .imgs .cd_img_1 {
  width: 500px;
  height: 500px;
  margin-left: 18%;
  position: absolute;
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_1 {
    position: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 70%;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_1 {
    height: unset;
  }
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_1 h1 {
    margin-left: 10%;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_1 h1 {
    font-size: 30px;
  }
}

#cd .block .imgs .cd_img_1 img {
  width: 100%;
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_1 img {
    width: 100%;
  }
}

#cd .block .imgs .cd_img_1:hover img {
  opacity: 30%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#cd .block .imgs .cd_img_1 .text {
  display: none;
}

#cd .block .imgs .cd_img_1:hover .text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-size: 25px;
  display: block;
  text-align: center;
  line-height: 40px;
  top: 20%;
  left: 0;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_1:hover .text {
    width: 70%;
    top: 20%;
    left: auto;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_1:hover .text {
    width: 70%;
    top: 20%;
    left: auto;
    font-size: 12px;
    line-height: 20px;
  }
}

#cd .block .imgs .cd_img_1:hover .text h2 {
  line-height: 40px;
  font-size: 28px;
  margin-top: 30%;
  margin-bottom: 0;
}

#cd .block .imgs .cd_img_2 {
  width: 240px;
  height: 240px;
  margin-left: 45%;
  position: absolute;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

@media (max-width: 1440px) {
  #cd .block .imgs .cd_img_2 {
    margin-left: 49%;
  }
}

#cd .block .imgs .cd_img_2 img {
  width: 100%;
}

#cd .block .imgs .cd_img_2:hover img {
  opacity: 30%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#cd .block .imgs .cd_img_2 .text {
  display: none;
}

#cd .block .imgs .cd_img_2:hover .text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  top: 30%;
  left: 0;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_2 {
    display: none;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_2 {
    display: none;
  }
}

#cd .block .imgs .cd_img_3 {
  width: 240px;
  height: 240px;
  margin-left: 45%;
  position: absolute;
  -webkit-transform: translate(105%, 0%);
          transform: translate(105%, 0%);
}

@media (max-width: 1440px) {
  #cd .block .imgs .cd_img_3 {
    margin-left: 49%;
  }
}

#cd .block .imgs .cd_img_3 img {
  width: 100%;
}

#cd .block .imgs .cd_img_3:hover img {
  opacity: 30%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#cd .block .imgs .cd_img_3 .text {
  display: none;
}

#cd .block .imgs .cd_img_3:hover .text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_3 {
    display: none;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_3 {
    display: none;
  }
}

#cd .block .imgs .cd_img_4 {
  width: 240px;
  height: 240px;
  margin-left: 45%;
  position: absolute;
  -webkit-transform: translate(105%, 108%);
          transform: translate(105%, 108%);
}

@media (max-width: 1440px) {
  #cd .block .imgs .cd_img_4 {
    margin-left: 49%;
  }
}

#cd .block .imgs .cd_img_4 img {
  width: 100%;
}

#cd .block .imgs .cd_img_4:hover img {
  opacity: 30%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#cd .block .imgs .cd_img_4 .text {
  display: none;
}

#cd .block .imgs .cd_img_4:hover .text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_4 {
    display: none;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_4 {
    display: none;
  }
}

#cd .block .imgs .cd_img_5 {
  width: 240px;
  height: 240px;
  margin-left: 45%;
  position: absolute;
  -webkit-transform: translate(0%, 108%);
          transform: translate(0%, 108%);
}

@media (max-width: 1440px) {
  #cd .block .imgs .cd_img_5 {
    margin-left: 49%;
  }
}

#cd .block .imgs .cd_img_5 img {
  width: 100%;
}

#cd .block .imgs .cd_img_5:hover img {
  opacity: 30%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#cd .block .imgs .cd_img_5 .text {
  display: none;
}

#cd .block .imgs .cd_img_5:hover .text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  top: 20%;
  left: 0;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

@media (max-width: 768px) {
  #cd .block .imgs .cd_img_5 {
    display: none;
  }
}

@media (max-width: 375px) {
  #cd .block .imgs .cd_img_5 {
    display: none;
  }
}

#cd .block .swiper-container {
  height: 100%;
}

#cd .block .swiper-container h1 {
  margin-left: 13%;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #cd .block .swiper-container h1 {
    margin-left: 0;
    padding-left: 10%;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  #cd .block .swiper-container h1 {
    margin-left: 0;
    font-size: 30px;
    padding-left: 10%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #traffic_contact h1 {
    padding-left: 10%;
  }
}

@media (max-width: 375px) {
  #traffic_contact h1 {
    font-size: 30px;
    padding-left: 10%;
    margin-left: 0;
  }
}

#traffic_contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  margin: 0;
  font-size: 21px;
  letter-spacing: 0.1em;
  padding-left: 100px;
}

@media (max-width: 768px) {
  #traffic_contact p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 375px) {
  #traffic_contact p {
    padding-left: 10%;
    font-size: 18px;
  }
}

#traffic_contact .content1 {
  margin-bottom: 40px;
}

#traffic_contact .content2 {
  margin-top: 40px;
}

#traffic_contact .contents img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 375px) {
  #traffic_contact .contents img {
    width: 80%;
  }
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.footer .copyright {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  height: 35px;
}

@media (max-width: 375px) {
  .footer .copyright {
    font-size: 10px;
  }
}

.footer .copyright img {
  float: right;
  position: absolute;
  margin-left: 20%;
  top: -30%;
}

@media (max-width: 768px) {
  .footer .copyright img {
    position: unset;
    margin: 20px auto;
    display: block;
    float: none;
  }
}

@media (max-width: 375px) {
  .footer .copyright img {
    position: unset;
    margin: 20px auto;
    display: block;
    float: none;
  }
}
/*# sourceMappingURL=rs.css.map */